<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bocsoft.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.bocsoft.model.RoleDto">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

  <select id="findRoleByUser" resultType="com.bocsoft.model.RoleDto" parameterType="com.bocsoft.model.UserDto">
    SELECT
      r.id as id,
      r.name as name
    FROM
      user u
    INNER JOIN user_role ur ON u.id = ur.user_id
    INNER JOIN role r ON r.id = ur.role_id
    <where>
      1 = 1
      <if test="account != null and account != '' ">
        AND u.account = #{account}
      </if>
      <if test="username != null and username != '' ">
        AND u.username LIKE CONCAT('%',#{username},'%')
      </if>
      <if test="id != null ">
        AND u.id = #{id}
      </if>
    </where>
  </select>

  <insert id="addUserRoles" parameterType="java.util.Map">
    INSERT INTO user_role
    (user_id,role_id)
    VALUES
    <foreach collection="addRoles" item="item" separator="," >
      (#{userId},#{item})
    </foreach>
  </insert>

  <delete id="delUserRoles" parameterType="java.util.Map">
    delete from user_role where user_id=#{userId}
    and role_id in
    <foreach collection="delRoles" item="item" separator="," open="(" close=")" >
      #{item}
    </foreach>
  </delete>

</mapper>
